.app{
  margin: 0;
}

.app__navbar{
  background-color: #1B74E4;
 
}


.app__navbar h2{
  color: white;
  padding: 12px;
}

.app__container{
  width: 600px;
  height: 700px;
  margin: auto;
  /* border: 1px solid black; */
  /* overflow-y: scroll; */
  
}



.input__area input{
  padding: 10px;
}

.input__area{
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  padding: 20px ;
}

.input__area button{
  background-color: #1B74E4;
  color: white;
  border: none;
  outline: none;
  padding:7px;
  width: 120px;
  border-radius: 7px;
  margin-left: 7px;
  
}

.feed__area{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feed__area h3{
  text-align: center;
}